@use "@picocss/pico/scss/pico" with ( // Theme color
  // amber, azure, blue, cyan, fuchsia, green, grey, indigo, jade, lime, orange, pink, pumpkin, purple, red, sand, slate, violet, yellow, zinc
  $theme-color: "zinc" , 

  // Prefix for CSS variables
  $css-var-prefix: "--pico-" , // Must start with "--"

  // Define the root element used to target <header>, <main>, <footer>
  // with $enable-semantic-container and $enable-responsive-spacings
  $semantic-root-element: "#root" ,

  // Enable <header>, <main>, <footer> inside $semantic-root-element as containers
  $enable-semantic-container: true ,

  // Enable a centered viewport for <header>, <main>, <footer> inside $semantic-root-element
  // Fluid layout if disabled
  $enable-viewport: true ,

  // Enable responsive spacings for <header>, <main>, <footer>, <section>, <article>
  // Fixed spacings by default
  $enable-responsive-spacings: true ,

  // Enable responsive typography
  // Fixed root element size (rem) if disabled
  $enable-responsive-typography: true ,

  // Enable .classes
  // .classless version if disabled
  $enable-classes: false ,

  // Enable transitions
  $enable-transitions: true ,

  // Enable overriding with !important
  $enable-important: true ,

  // Optional parent selector
  // If defined, all HTML tags are wrapped with this selector
  // :root is not wrapped
  $parent-selector: "" ,
 
  $modules: ( // Theme
      "themes/default": true,

      // Layout
      "layout/document": false,
      "layout/landmarks": false,
      "layout/container": false,
      "layout/section": false,
      "layout/grid": true,
      "layout/overflow-auto": true,

      // Content
      "content/link": false,
      "content/typography": false,
      "content/embedded": false,
      "content/button": true,
      "content/table": false,
      "content/code": false,
      "content/figure": false,
      "content/miscs": false,

      // Forms
      "forms/basics": true,
      "forms/checkbox-radio-switch": true,
      "forms/input-color": false,
      "forms/input-date": true,
      "forms/input-file": false,
      "forms/input-range": true,
      "forms/input-search": true,

      // Components
      "components/accordion": false,
      "components/card": false,
      "components/dropdown": false,
      "components/group": false,
      "components/loading": false,
      "components/modal": true,
      "components/nav": false,
      "components/progress": false,
      "components/tooltip": true,

      // Utilities
      "utilities/accessibility": true,
      "utilities/reduce-motion": true
    )
);

/* Welcome 🎉 */
/* Use Open-Props from NPM or CDN */
/* @import 'open-props/style'; */
// @import 'https://unpkg.com/open-props';
/* not needed here because JIT Props adds what you use! */
/* but we are importing for now so we can get intellisense for props */

/* 
 open-props normalize isn't required, but makes for a nice base.
 add this to see default styles for <details> and other HTM5 elements
 Bonus: normalize includes light and dark vars for adaptive theming */
@import 'open-props/normalize';
/* @import 'https://unpkg.com/open-props/normalize.min.css'; */
@import 'open-props/buttons';

//  @import 'open-props/src/extra/theme.light';


:root {
  --header-height: 60px;
  --footer-height: 60px;
  --eventz-green: #74B816;
  --eventz-off-white: #F3F0FF;
  --eventz-grey-ultralight: #C4C5C6;
  --eventz-grey-light: #D9D9D9;
  --eventz-grey-dark: #494949;
  --eventz-pink: #F06595;
  --eventz-purple: #BE4BDB;
  --eventz-mauve: #9775FA;
  --eventz-black: #252521;
}

// // light color scheme
// :root:not([data-theme=dark]) {
//   --pico-background-color: var(--eventz-off-white);
//   --pico-text-color: var(--eventz-black);
// }

// // Dark color scheme (Auto) 
// // Automatically enabled if user has Dark mode enabled 
// @media only screen and (prefers-color-scheme: dark) {
//   :root:not([data-theme]) {
//     --pico-background-color:  var(--eventz-grey-dark);
//     --pico-text-color: var(--eventz-grey-ultralight);
//   }
// }

// // Dark color scheme (Forced)
// // Enabled if forced with data-theme="dark"
// [data-theme="dark"] {
//   --pico-background-color:  var(--eventz-grey-dark);
//   --pico-text-color: var(--eventz-grey-ultralight);
// }


/* Orange color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme=light],
:root:not([data-theme=dark]) {
  --pico-background-color: var(--eventz-off-white);
  --pico-color: var(--eventz-black);
  --pico-text-selection-color: rgba(244, 93, 44, 0.25);
  --pico-primary: #bd3c13;
  --pico-primary-background: #d24317;
  --pico-primary-underline: rgba(189, 60, 19, 0.5);
  --pico-primary-hover: #942d0d;
  --pico-primary-hover-background: #bd3c13;
  --pico-primary-focus: rgba(244, 93, 44, 0.5);
  --pico-primary-inverse: #fff;
}

/* Orange color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-background-color: var(--eventz-grey-dark);
    --pico-color: var(--eventz-grey-ultralight);
    --pico-text-selection-color: rgba(245, 107, 61, 0.1875);
    --pico-primary: #f56b3d;
    --pico-primary-background: #d24317;
    --pico-primary-underline: rgba(245, 107, 61, 0.5);
    --pico-primary-hover: #f8a283;
    --pico-primary-hover-background: #e74b1a;
    --pico-primary-focus: rgba(245, 107, 61, 0.375);
    --pico-primary-inverse: #fff;
  }
}
/* Orange color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {
  --pico-background-color: var(--eventz-grey-dark);
  --pico-color: var(--eventz-grey-ultralight);
  --pico-text-selection-color: rgba(245, 107, 61, 0.1875);
  --pico-primary: #f56b3d;
  --pico-primary-background: #d24317;
  --pico-primary-underline: rgba(245, 107, 61, 0.5);
  --pico-primary-hover: #f8a283;
  --pico-primary-hover-background: #e74b1a;
  --pico-primary-focus: rgba(245, 107, 61, 0.375);
  --pico-primary-inverse: #fff;
}

html {
  height: 100%;
  //background-color: var(--pico-background-color);
  font-family: var(--font-sans);
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--pico-background-color);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  // background-color: plum;
}

header {
  background-color: var(--eventz-black);
  width: 100%;
  height: var(--header-height);
  padding: 1.25rem;

  nav#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul:nth-child(1) {
      list-style-type: none;
      padding-left: 0;
      >li > a {
        color: var(--eventz-green);
        text-decoration: none;
        &:hover {
          //filter: brightness(120%);
        }
      }
    }

    ul:nth-child(2) {
      display: flex;
      list-style-type: none;
      gap: 0.5rem;
      > li > a {
        //color: var(--eventz-grey-light);
        &:hover {
          //filter: brightness(120%);
        }
      }
    }
  }
}

#main-content {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 0;
  // background-color: var(--eventz-background-color);
  // color: var(--eventz-text-color);

  & aside {
    //background-color: lightcoral;
    display: none;

    @media screen and (min-width: 600px) {
      display: block;
    }

    nav ul {
      list-style-type: none;
    }
  }

  main {
    // background-image: var(--gradient-18);

  }
}


.homepage-hero {
  display: grid;
  grid-template-areas: "stack";
  place-items: center;
  margin-bottom: 3rem;
  

  >img.homepage-hero-image {
    grid-area: stack;
  }

  >h1.homepage-hero-title {
    grid-area: stack;
    background: var(--gradient-3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--size-fluid-6);
    @media screen and (width > 715px) {
      font-size: var(--size-fluid-8);
    }
  }
}

.homepage-content {
  // background-color: var(--blue-3);
  padding: 1rem;
  margin: 0 auto;
  max-width: 60rem;
  text-align: center;
  h1 {
    font-size: var(--font-size-6);
    padding: 4rem 0 2rem 0;

  }
  p {
    padding: 2rem;
    text-align: left;
  }
}

footer {
  height: var(--footer-height);
  //background-color: aqua;
  padding: 1rem;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      margin: auto 0;
      padding: 0;

      li:first-child {
        justify-self: flex-start;
      }
    }

    small {
      margin-left: auto;
      margin-right: 4.75rem;
      margin-bottom: 0;
    }
  }
}

// will need to be updated at some point

.event-tile {
  border-radius: var(--radius-conditional-3);
  border: var(--border-size-1) solid var(--gray-1);
  padding: 2rem;
  margin: 1rem;
  background: var(--gradient-7)
}

.form-bad-input {
  border: 1px red solid;
}


// Carousel


.carousel {
  overflow: hidden;
  max-width: 200px;
  margin: 0 auto;
  @media screen and (width > 650px){
    max-width: 350px;
  }
  @media screen and (width > 1400px) {
    max-width: 100%;

  }
}

.inner {
  white-space: nowrap;
  transition: transform 1s;
  @media screen and (width > 1400px) {
    transform: translateX(0px) !important;
    display: flex;
    justify-content: space-between;
  }
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin-right: 100%;
  @media screen and (width > 650px){
    width: 350px;
    height: 350px;
  }
  @media screen and (width > 1400px) {
    width: 250px;
    height: 250px;
    margin-right: 0;
  }
}

.carousel-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}