// footer {
//   height: var(--footer-height);
//   background-color: aqua;
// }

/* Welcome 🎉 */
/* Use Open-Props from NPM or CDN */
/* @import 'open-props/style'; */
/* @import 'https://unpkg.com/open-props'; */
/* not needed here because JIT Props adds what you use! */

/* 
 open-props normalize isn't required, but makes for a nice base.
 add this to see default styles for <details> and other HTM5 elements
 Bonus: normalize includes light and dark vars for adaptive theming */
 @import 'open-props/normalize';
 /* @import 'https://unpkg.com/open-props/normalize.min.css'; */
 @import 'open-props/buttons';



:root {
  --header-height: 60px;
  --footer-height: 60px;
}

html {
  height: 100%;
  background-color: cornflowerblue;
}

body {
  height: 100%;
  background-color: cadetblue;
}

#root {
  max-width: 1280px;
  height: calc(100% - var(--header-height) - var(--footer-height));
  margin: 0;
  padding: 0;
  background-color: plum;
}

header {
  background-color: beige;
  width: 100%;
  height: var(--header-height);
  padding: 1.25rem;

  nav#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul:nth-child(1) {
      list-style-type: none;
    }
    
    ul:nth-child(2) {
      display: flex;
      list-style-type: none;
      gap:  0.5rem;
    }
  }
}

#main-content {
  height: 100%;
  display: flex;
  flex-flow: row;
  margin-bottom: 0;
  background-color: blue;
   & aside {
    background-color: lightcoral;

    nav ul {
      list-style-type: none;
    }
   }
   main {
    background-color: blanchedalmond ;
    justify-self: center;
    width: min(100% - 2rem,50rem);
    
    margin: 0 auto;
   }
}

footer {
  height: var(--footer-height);
  background-color: aqua;
  padding: 1.25rem;
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: auto 0;
  }
}